[submodule "maya/external/mgear4"]
	path = maya/external/mgear4
	url = https://github.com/mgear-dev/mgear4.git
[submodule "maya/external/mgear5"]
	path = maya/external/mgear5
	url = https://github.com/mgear-dev/mgear.git
	branch = master
[submodule "maya/external/cymel"]
	path = maya/external/cymel
	url = https://github.com/ryusas/cymel.git
	ignore = dirty
[submodule "maya/external/CharcoalEditor2"]
	path = maya/external/CharcoalEditor2
	url = https://github.com/Hsk0120/CharcoalEditor2.git
[submodule "maya/external/AnimationAid"]
	path = maya/external/AnimationAid
	url = https://github.com/Hsk0120/AnimationAid.git
	ignore = dirty
[submodule "maya/external/AriTools"]
	path = maya/external/AriTools
	url = https://github.com/Hsk0120/AriTools.git
[submodule "maya/external/jlr_sort_attributes"]
	path = maya/external/jlr_sort_attributes
	url = https://github.com/jlararigger/jlr_sort_attributes.git
	ignore = dirty
[submodule "maya/external/PoseDriverConnect"]
	path = maya/external/PoseDriverConnect
	url = https://github.com/Hsk0120/PoseDriverConnect.git
[submodule "maya/external/SIWeightEditor"]
	path = maya/external/SIWeightEditor
	url = https://github.com/ShikouYamaue/SIWeightEditor.git
	ignore = dirty
[submodule "maya/external/AdvancedSkeleton"]
	path = maya/external/AdvancedSkeleton
	url = https://github.com/Hsk0120/AdvancedSkeleton.git
[submodule "maya/external/MetaHumanForMaya"]
	path = maya/external/MetaHumanForMaya
	url = https://github.com/Hsk0120/MetaHumanForMaya.git
[submodule "maya/external/pymel"]
	path = maya/external/pymel
	url = https://github.com/LumaPictures/pymel.git
[submodule "maya/external/AL_omx"]
	path = maya/external/AL_omx
	url = https://github.com/AnimalLogic/AL_omx.git
[submodule "maya/external/paya"]
	path = maya/external/paya
	url = https://github.com/kimonmatara/paya.git
[submodule "maya/external/mikan"]
	path = maya/external/mikan
	url = https://github.com/Citrus-Software/mikan.git
[submodule "maya/external/maya-pulse"]
	path = maya/external/maya-pulse
	url = https://github.com/bohdon/maya-pulse.git
[submodule "maya/external/crab"]
	path = maya/external/crab
	url = https://github.com/mikemalinowski/crab.git
[submodule "maya/external/nl_rigging_tools"]
	path = maya/external/nl_rigging_tools
	url = https://github.com/nickyliux/nl_rigging_tools.git
[submodule "maya/external/ml_tools"]
	path = maya/external/ml_tools
	url = https://github.com/morganloomis/ml_tools.git
[submodule "maya/external/gt-tools"]
	path = maya/external/gt-tools
	url = https://github.com/TrevisanGMW/gt-tools.git
[submodule "maya/external/animation-retargeting-tool"]
	path = maya/external/animation-retargeting-tool
	url = https://github.com/joaen/animation-retargeting-tool.git
[submodule "maya/external/guppy_animation_tools"]
	path = maya/external/guppy_animation_tools
	url = https://github.com/assumptionsoup/guppy_animation_tools.git
[submodule "maya/external/fossil"]
	path = maya/external/fossil
	url = https://github.com/patcorwin/fossil.git
[submodule "maya/external/skinner"]
	path = maya/external/skinner
	url = https://github.com/AKEric/skinner.git
[submodule "maya/external/defWeightTransfer"]
	path = maya/external/defWeightTransfer
	url = https://github.com/saurabh121/defWeightTransfer.git
[submodule "maya/external/MayaMeshRetarget"]
	path = maya/external/MayaMeshRetarget
	url = https://github.com/yamahigashi/MayaMeshRetarget.git
[submodule "maya/external/trigger"]
	path = maya/external/trigger
	url = https://github.com/masqu3rad3/trigger.git
[submodule "maya/external/SkinPowerTool"]
	path = maya/external/SkinPowerTool
	url = https://github.com/Ryumo0205/SkinPowerTool.git
[submodule "maya/external/maya-skinning-tools"]
	path = maya/external/maya-skinning-tools
	url = https://github.com/robertjoosten/maya-skinning-tools.git
[submodule "maya/external/studiolibrary"]
	path = maya/external/studiolibrary
	url = https://github.com/krathjen/studiolibrary.git
[submodule "maya/external/Red9_StudioPack"]
	path = maya/external/Red9_StudioPack
	url = https://github.com/markj3d/Red9_StudioPack.git
[submodule "maya/external/aTools"]
	path = maya/external/aTools
	url = https://github.com/mottosso/aTools.git
[submodule "maya/external/rich"]
	path = maya/external/rich
	url = https://github.com/Textualize/rich.git
[submodule "maya/external/pyyaml"]
	path = maya/external/pyyaml
	url = https://github.com/yaml/pyyaml.git
[submodule "maya/external/tqdm"]
	path = maya/external/tqdm
	url = https://github.com/tqdm/tqdm.git
[submodule "maya/external/tabulate"]
	path = maya/external/tabulate
	url = https://github.com/astanin/python-tabulate.git
[submodule "maya/external/natsort"]
	path = maya/external/natsort
	url = https://github.com/SethMMorton/natsort.git
[submodule "maya/inhouse/MayaCinematicCameraHUD"]
	path = maya/inhouse/MayaCinematicCameraHUD
	url = https://github.com/Hsk0120/MayaCinematicCameraHUD.git
[submodule "maya/external/openrv"]
	path = maya/external/openrv
	url = https://github.com/AcademySoftwareFoundation/openrv.git
	shallow = true
[submodule "maya/external/maya_exprespy"]
	path = maya/external/maya_exprespy
	url = https://github.com/ryusas/maya_exprespy.git
[submodule "maya/external/SrtRbfNode"]
	path = maya/external/SrtRbfNode
	url = https://github.com/TomohikoMukai/SrtRbfNode.git
	shallow = true
[submodule "maya/external/cmt"]
	path = maya/external/cmt
	url = https://github.com/chadmv/cmt.git
	shallow = true
[submodule "maya/external/ypr-expression-driver"]
	path = maya/external/ypr-expression-driver
	url = https://github.com/zebraed/ypr-expression-driver.git
	shallow = true
[submodule "maya/external/Simplex"]
	path = maya/external/Simplex
	url = https://github.com/blurstudio/Simplex.git
	shallow = true
[submodule "maya/external/bl_rbf_drivers"]
	path = maya/external/bl_rbf_drivers
	url = https://github.com/gr4ym4n/bl_rbf_drivers.git
	shallow = true
[submodule "maya/external/EccentricConePSD"]
	path = maya/external/EccentricConePSD
	url = https://github.com/tbttfox/EccentricConePSD.git
	shallow = true
[submodule "maya/external/NWayBlenderMaya"]
	path = maya/external/NWayBlenderMaya
	url = https://github.com/shizuo-kaji/NWayBlenderMaya.git
	shallow = true
[submodule "maya/external/STAR"]
	path = maya/external/STAR
	url = https://github.com/ahmedosman/STAR.git
	shallow = true
[submodule "maya/external/perseus"]
	path = maya/external/perseus
	url = https://github.com/perseusrigging/perseus.git
	shallow = true
[submodule "maya/external/TwistSpline"]
	path = maya/external/TwistSpline
	url = https://github.com/blurstudio/TwistSpline.git
	shallow = true
[submodule "maya/external/Motion-Matching"]
	path = maya/external/Motion-Matching
	url = https://github.com/orangeduck/Motion-Matching.git
	shallow = true
[submodule "maya/external/godot"]
	path = maya/external/godot
	url = https://github.com/godotengine/godot.git
	shallow = true
[submodule "maya/external/caliko"]
	path = maya/external/caliko
	url = https://github.com/FedUni/caliko.git
	shallow = true
[submodule "maya/external/MathUtilities"]
	path = maya/external/MathUtilities
	url = https://github.com/zalo/MathUtilities.git
	shallow = true
[submodule "maya/external/spine-runtimes"]
	path = maya/external/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
	shallow = true
[submodule "maya/external/Spring-It-On"]
	path = maya/external/Spring-It-On
	url = https://github.com/orangeduck/Spring-It-On.git
	shallow = true
[submodule "maya/external/Everything-Will-Be-IK"]
	path = maya/external/Everything-Will-Be-IK
	url = https://github.com/EGjoni/Everything-Will-Be-IK.git
	shallow = true
[submodule "maya/external/many_bone_ik"]
	path = maya/external/many_bone_ik
	url = https://github.com/V-Sekai/many_bone_ik.git
	shallow = true
[submodule "maya/external/closed-chain-ik-js"]
	path = maya/external/closed-chain-ik-js
	url = https://github.com/gkjohnson/closed-chain-ik-js.git
	shallow = true
[submodule "maya/external/maya_bifrost"]
	path = maya/external/maya_bifrost
	url = https://github.com/gaki131/maya_bifrost.git
	shallow = true
[submodule "maya/external/JigglePhysics"]
	path = maya/external/JigglePhysics
	url = https://github.com/naelstrof/JigglePhysics.git
	shallow = true
[submodule "maya/external/blender-jiggle-physics"]
	path = maya/external/blender-jiggle-physics
	url = https://github.com/naelstrof/blender-jiggle-physics.git
	shallow = true
[submodule "maya/external/boneDynamicsNode"]
	path = maya/external/boneDynamicsNode
	url = https://github.com/akasaki1211/boneDynamicsNode.git
	shallow = true
[submodule "maya/external/bifrost_AkPBD"]
	path = maya/external/bifrost_AkPBD
	url = https://github.com/akasaki1211/bifrost_AkPBD.git
	shallow = true
[submodule "maya/external/maya_expressionCollision"]
	path = maya/external/maya_expressionCollision
	url = https://github.com/akasaki1211/maya_expressionCollision.git
	shallow = true
[submodule "maya/external/colDetectionNode"]
	path = maya/external/colDetectionNode
	url = https://github.com/akasaki1211/colDetectionNode.git
	shallow = true
[submodule "maya/external/BlurHarmonics"]
	path = maya/external/BlurHarmonics
	url = https://github.com/tbttfox/BlurHarmonics.git
	shallow = true
[submodule "maya/external/pw_matrix_collision_rig"]
	path = maya/external/pw_matrix_collision_rig
	url = https://github.com/paulwinex/pw_matrix_collision_rig.git
	shallow = true
[submodule "maya/external/ny_collisionDeformer"]
	path = maya/external/ny_collisionDeformer
	url = https://github.com/nazmiprinter/ny_collisionDeformer.git
	shallow = true
[submodule "maya/external/iDeform"]
	path = maya/external/iDeform
	url = https://github.com/IngoClemens/iDeform.git
	shallow = true
[submodule "maya/external/dem-bones"]
	path = maya/external/dem-bones
	url = https://github.com/electronicarts/dem-bones.git
	shallow = true
[submodule "maya/external/ssds"]
	path = maya/external/ssds
	url = https://github.com/TomohikoMukai/ssds.git
	shallow = true
[submodule "maya/external/dem-bones-python"]
	path = maya/external/dem-bones-python
	url = https://github.com/tbttfox/dem-bones-python.git
	shallow = true
[submodule "maya/external/maya-dem-bones"]
	path = maya/external/maya-dem-bones
	url = https://github.com/robertjoosten/maya-dem-bones.git
	shallow = true
[submodule "maya/external/MyMayaPlugin"]
	path = maya/external/MyMayaPlugin
	url = https://github.com/Haragos99/MyMayaPlugin.git
	shallow = true
[submodule "maya/external/direct-delta-mush"]
	path = maya/external/direct-delta-mush
	url = https://github.com/2TallTim/direct-delta-mush.git
	shallow = true
[submodule "maya/external/cvwrap"]
	path = maya/external/cvwrap
	url = https://github.com/chadmv/cvwrap.git
	shallow = true
[submodule "maya/external/blurRelax"]
	path = maya/external/blurRelax
	url = https://github.com/blurstudio/blurRelax.git
	shallow = true
[submodule "maya/external/dm2skin"]
	path = maya/external/dm2skin
	url = https://github.com/duncanskertchly/dm2skin.git
	shallow = true
[submodule "maya/external/impulse"]
	path = maya/external/impulse
	url = https://github.com/michaelharmonart/impulse.git
	shallow = true
[submodule "maya/external/aniseed"]
	path = maya/external/aniseed
	url = https://github.com/mikemalinowski/aniseed.git
	shallow = true
[submodule "maya/external/rigamajig2"]
	path = maya/external/rigamajig2
	url = https://github.com/masonSmigel/rigamajig2.git
	shallow = true
[submodule "maya/external/defQA"]
	path = maya/external/defQA
	url = https://github.com/zebraed/defQA.git
	shallow = true
[submodule "maya/external/MayaMLDeformer"]
	path = maya/external/MayaMLDeformer
	url = https://github.com/EpicGames/MayaMLDeformer.git
	shallow = true
[submodule "maya/external/FDDADeformer"]
	path = maya/external/FDDADeformer
	url = https://github.com/ThomasVallentin/FDDADeformer.git
	shallow = true
[submodule "maya/external/angavrilov-rigs"]
	path = maya/external/angavrilov-rigs
	url = https://github.com/angavrilov/angavrilov-rigs.git
	shallow = true
[submodule "maya/external/houdini_apex_graph_from_templates"]
	path = maya/external/houdini_apex_graph_from_templates
	url = https://github.com/noadanimation/houdini_apex_graph_from_templates.git
	shallow = true
[submodule "maya/external/stickyTool"]
	path = maya/external/stickyTool
	url = https://github.com/robotmitchum/stickyTool.git
	shallow = true
[submodule "maya/external/NurbBuilder_Maya2026_rigging"]
	path = maya/external/NurbBuilder_Maya2026_rigging
	url = https://github.com/UnaiPons/NurbBuilder_Maya2026_rigging.git
	shallow = true
[submodule "maya/external/OptimisedCentresOfRotationSkinning"]
	path = maya/external/OptimisedCentresOfRotationSkinning
	url = https://github.com/pmbittner/OptimisedCentresOfRotationSkinning.git
	shallow = true
[submodule "maya/external/velocity_skinning_cpp"]
	path = maya/external/velocity_skinning_cpp
	url = https://github.com/drohmer/velocity_skinning_cpp.git
	shallow = true
[submodule "maya/external/fast_cody"]
	path = maya/external/fast_cody
	url = https://github.com/otmanon/fast_cody.git
	shallow = true
[submodule "maya/external/complementary-dynamics-cpp"]
	path = maya/external/complementary-dynamics-cpp
	url = https://github.com/seungbaebang/complementary-dynamics-cpp.git
	shallow = true
[submodule "maya/external/complementary-dynamics"]
	path = maya/external/complementary-dynamics
	url = https://github.com/ErisZhang/complementary-dynamics.git
	shallow = true
[submodule "maya/external/splocs"]
	path = maya/external/splocs
	url = https://github.com/tneumann/splocs.git
	shallow = true
[submodule "maya/external/neural-blend-shapes"]
	path = maya/external/neural-blend-shapes
	url = https://github.com/PeizhuoLi/neural-blend-shapes.git
	shallow = true
[submodule "maya/external/rig-inversion"]
	path = maya/external/rig-inversion
	url = https://github.com/electronicarts/rig-inversion.git
	shallow = true
[submodule "maya/external/openriglogic"]
	path = maya/external/openriglogic
	url = https://github.com/EpicGames/openriglogic.git
	shallow = true
[submodule "maya/external/MetaHuman-DNA-Calibration"]
	path = maya/external/MetaHuman-DNA-Calibration
	url = https://github.com/EpicGames/MetaHuman-DNA-Calibration.git
	shallow = true
[submodule "maya/external/RobustSkinWeightsTransferCode"]
	path = maya/external/RobustSkinWeightsTransferCode
	url = https://github.com/rin-23/RobustSkinWeightsTransferCode.git
	shallow = true
[submodule "maya/external/UniRig"]
	path = maya/external/UniRig
	url = https://github.com/VAST-AI-Research/UniRig.git
	shallow = true
[submodule "maya/external/Puppeteer"]
	path = maya/external/Puppeteer
	url = https://github.com/Seed3D/Puppeteer.git
	shallow = true
[submodule "maya/external/Make-It-Animatable"]
	path = maya/external/Make-It-Animatable
	url = https://github.com/jasongzy/Make-It-Animatable.git
	shallow = true
[submodule "maya/external/RigNet"]
	path = maya/external/RigNet
	url = https://github.com/zhan-xu/RigNet.git
	shallow = true
[submodule "maya/external/protores-boris"]
	path = maya/external/protores-boris
	url = https://github.com/boreshkinai/protores-boris.git
	shallow = true
[submodule "maya/external/libigl"]
	path = maya/external/libigl
	url = https://github.com/libigl/libigl.git
	shallow = true
[submodule "maya/external/OpenUSD"]
	path = maya/external/OpenUSD
	url = https://github.com/PixarAnimationStudios/OpenUSD.git
	shallow = true
[submodule "maya/external/hrbf"]
	path = maya/external/hrbf
	url = https://gitlab.com/elrnv/hrbf.git
	shallow = true
[submodule "maya/external/zombie"]
	path = maya/external/zombie
	url = https://github.com/rohan-sawhney/zombie.git
	shallow = true
[submodule "maya/external/repulsive-curves"]
	path = maya/external/repulsive-curves
	url = https://github.com/ythea/repulsive-curves.git
	shallow = true
[submodule "maya/external/repulsive-surfaces"]
	path = maya/external/repulsive-surfaces
	url = https://github.com/ythea/repulsive-surfaces.git
	shallow = true
[submodule "maya/external/nonmanifold-laplacian"]
	path = maya/external/nonmanifold-laplacian
	url = https://github.com/nmwsharp/nonmanifold-laplacian.git
	shallow = true
[submodule "maya/external/robust-laplacians-py"]
	path = maya/external/robust-laplacians-py
	url = https://github.com/nmwsharp/robust-laplacians-py.git
	shallow = true
[submodule "maya/external/geometry-central"]
	path = maya/external/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
	shallow = true
[submodule "maya/external/vector-heat-demo"]
	path = maya/external/vector-heat-demo
	url = https://github.com/nmwsharp/vector-heat-demo.git
	shallow = true
[submodule "maya/external/SWN"]
	path = maya/external/SWN
	url = https://github.com/nzfeng/SWN.git
	shallow = true
[submodule "maya/external/lifting_simplices_to_find_injectivity"]
	path = maya/external/lifting_simplices_to_find_injectivity
	url = https://github.com/duxingyi-charles/lifting_simplices_to_find_injectivity.git
	shallow = true
[submodule "maya/external/invertible-maps"]
	path = maya/external/invertible-maps
	url = https://github.com/ssloy/invertible-maps.git
	shallow = true
[submodule "maya/external/NeuralJacobianFields"]
	path = maya/external/NeuralJacobianFields
	url = https://github.com/ThibaultGROUEIX/NeuralJacobianFields.git
	shallow = true
[submodule "maya/external/UnityC2InterpolatingSplines"]
	path = maya/external/UnityC2InterpolatingSplines
	url = https://github.com/Santarh/UnityC2InterpolatingSplines.git
	shallow = true
[submodule "maya/external/basalt-headers"]
	path = maya/external/basalt-headers
	url = https://github.com/VladyslavUsenko/basalt-headers.git
	shallow = true
[submodule "maya/external/smoothdists"]
	path = maya/external/smoothdists
	url = https://github.com/abhimadan/smoothdists.git
	shallow = true
[submodule "maya/external/1-Lipschitz-Neural-Distance-Fields"]
	path = maya/external/1-Lipschitz-Neural-Distance-Fields
	url = https://github.com/GCoiffier/1-Lipschitz-Neural-Distance-Fields.git
	shallow = true
[submodule "maya/external/neural-implicit-queries"]
	path = maya/external/neural-implicit-queries
	url = https://github.com/nmwsharp/neural-implicit-queries.git
	shallow = true
[submodule "maya/external/jaxgptoolbox"]
	path = maya/external/jaxgptoolbox
	url = https://github.com/ml-for-gp/jaxgptoolbox.git
	shallow = true
[submodule "maya/external/2d-gaussian-splatting"]
	path = maya/external/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
	shallow = true
[submodule "maya/external/beta-splatting"]
	path = maya/external/beta-splatting
	url = https://github.com/RongLiu-Leo/beta-splatting.git
	shallow = true
[submodule "maya/external/3D-student-splatting-and-scooping"]
	path = maya/external/3D-student-splatting-and-scooping
	url = https://github.com/realcrane/3D-student-splatting-and-scooping.git
	shallow = true
[submodule "maya/external/SC-GS"]
	path = maya/external/SC-GS
	url = https://github.com/CVMI-Lab/SC-GS.git
	shallow = true
[submodule "maya/external/DevelopableApproximationViaGaussImageThinning"]
	path = maya/external/DevelopableApproximationViaGaussImageThinning
	url = https://github.com/FloorVerhoeven/DevelopableApproximationViaGaussImageThinning.git
	shallow = true
[submodule "maya/external/IPC"]
	path = maya/external/IPC
	url = https://github.com/ipc-sim/IPC.git
	shallow = true
[submodule "maya/external/ipc-toolkit"]
	path = maya/external/ipc-toolkit
	url = https://github.com/ipc-sim/ipc-toolkit.git
	shallow = true
[submodule "maya/external/avbd-demo3d"]
	path = maya/external/avbd-demo3d
	url = https://github.com/savant117/avbd-demo3d.git
	shallow = true
[submodule "maya/external/Houdini-VBD"]
	path = maya/external/Houdini-VBD
	url = https://github.com/MysteryPancake/Houdini-VBD.git
	shallow = true
[submodule "maya/external/YarnBall"]
	path = maya/external/YarnBall
	url = https://github.com/jerry060599/YarnBall.git
	shallow = true
[submodule "maya/external/mfem"]
	path = maya/external/mfem
	url = https://github.com/tytrusty/mfem.git
	shallow = true
[submodule "maya/external/simkit"]
	path = maya/external/simkit
	url = https://github.com/otmanon/simkit.git
	shallow = true
[submodule "maya/external/kaolin"]
	path = maya/external/kaolin
	url = https://github.com/NVIDIAGameWorks/kaolin.git
	shallow = true
[submodule "maya/external/ppf-contact-solver"]
	path = maya/external/ppf-contact-solver
	url = https://github.com/st-tech/ppf-contact-solver.git
	shallow = true
