[submodule "maya/external/mgear4"]
	path = maya/external/mgear4
	url = https://github.com/mgear-dev/mgear4.git
[submodule "maya/external/mgear5"]
	path = maya/external/mgear5
	url = https://github.com/mgear-dev/mgear.git
	branch = mGear5
[submodule "maya/external/cymel"]
	path = maya/external/cymel
	url = https://github.com/ryusas/cymel.git
[submodule "maya/external/CharcoalEditor2"]
	path = maya/external/CharcoalEditor2
	url = https://github.com/Hsk0120/CharcoalEditor2.git
[submodule "maya/external/AnimationAid"]
	path = maya/external/AnimationAid
	url = https://github.com/Hsk0120/AnimationAid.git
[submodule "maya/external/AriTools"]
	path = maya/external/AriTools
	url = https://github.com/Hsk0120/AriTools.git
[submodule "maya/external/jlr_sort_attributes"]
	path = maya/external/jlr_sort_attributes
	url = https://github.com/jlararigger/jlr_sort_attributes.git
[submodule "maya/external/PoseDriverConnect"]
	path = maya/external/PoseDriverConnect
	url = https://github.com/Hsk0120/PoseDriverConnect.git
[submodule "maya/external/SIWeightEditor"]
	path = maya/external/SIWeightEditor
	url = https://github.com/ShikouYamaue/SIWeightEditor.git
